.ipynb_checkpoints
data_exploration/mongodb_connection.py
__pycache__
model_training/ML.NET/.vs/

model_training/ML.NET/ML.NET/obj/
model_training/ML.NET/ML.NET/bin/
model_training/ML.NET/Rest Server ML/Rest Server ML/bin/
model_training/ML.NET/Rest Server ML/Rest Server ML/obj/
model_training/ML.NET/Rest Server ML/.vs/
